#container {
    width: 500px;
    margin: 20px auto;
    display:flex;
}



#circulo{
    width: 33px;
    height: 33px;
    background-color: #000000;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
    position: relative;

    margin-top: 24%;
    margin-left: -44%;
}

#circulo1{
    width: 33px;
    height: 33px;
    background-color: #000000;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;

    margin-top: 24%;
    margin-left: 18%;
}

#farol{
    width: 27px;
    height: 18px;
    background-color: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    position: relative;

    margin-top: 22.9%;
    margin-left: 46%;
}


/* #teto {
    width: 300px;
    height: 300px;
    background-color: #000000; 
    clip-path: polygon(
        0% 35%,
        20% 24%,
        50% 24%,
        60% 35%,
        55% 35%,
        50% 27%,
        20% 27%,
        5% 35%
    );
} */

/* #teto {
    width: 300px;
    height: 300px;
    background-color: #000000; 
    position: absolute;

    clip-path: polygon(
        49% 26%,
        48% 27%,
        58% 35%,
        60% 35%
    );
} */

#teto {
    width: 300px;
    height: 300px;
    background-color: #000000; 
    position: absolute;

    clip-path: polygon(
        50% 26%,
        55% 35%,
        60% 35%
    );
}


#otro {
    width: 300px;
    height: 300px;
    background-color: #000000; 
    position: absolute;

    clip-path: polygon(
        20% 26%,
        20% 35%,
        5% 35%
    );
}


#bglh {
    width: 300px;
    height: 300px;
    background-color: #000000; 
    position: absolute;
    clip-path: polygon(
        0% 41%,
        5% 35%,
        61% 35%,
        80% 38%,
        85% 41%,
        85% 43%,
        85% 45%,
        0% 45%
        );
    }
    
#coiso {
        width: 300px;
        height: 300px;
        background-color: #8e8e8e; 
        position: absolute;
    
        clip-path: polygon(
            0% 43%,
            85% 43%,
            85% 41%,
            86.5% 42%,
            86.5% 45%,
            85% 45%,
            85% 41%,
            0% 41%
        );
    }
    
    /* #janela1 {
    width: 300px;
    height: 300px;
    background-color: #727272; 
    position: absolute;

    clip-path: polygon(
        20% 27%,
        20% 35%,
        35% 35%,
        35% 27%
    );
}

#janela2 {
    width: 300px;
    height: 300px;
    background-color: #000000; 
    position: absolute;

    clip-path: polygon(
        35% 35%,
        35% 27%,
        37% 27%,
        37% 35%
    );
}

#janela3 {
    width: 300px;
    height: 300px;
    background-color: #727272;
    position: absolute;

    clip-path: polygon(
        37% 35%,
        37% 27%,
        50% 27%,
        55% 35%
    );
} */
